#index-menu a:hover {
    font-weight: bold;
}
#index-menu {
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center;
    list-style-type: none;
}
#index-menu li {
    display: inline-block;
    margin: 0 19px;
}
#index-menu li .desc {
    display: block;
}
