[% meta.title = '이력서 생성' -%]
	
<form  action="[% c.uri_for('form_create_do') %]"  method="post" enctype="multipart/form-data">
  <input type="text" name="" />
  <input type="submit" value="뿅" />
</form>


