[% meta.title = '이력서 생성' -%]

<form action="[% c.uri_for('/resume') %]" method="post" enctype="multipart/form-data">
<fieldset>
  <div class="required">
    <label>이름</label>
    <input name="name" type="text" />
  </div>
</fieldset>
</form>
